version: '3.7'
services:
  # mcl-node1:
  #     container_name: mcl_node1
  #     build:
  #       context: ./dockerfile
  #       dockerfile: mcl.Dockerfile
  #       args:
  #         - TZ=${TZ}
  #     volumes:
  #       - ./daemonfiles/marmara/:/root/marmara
  #       - ./volumes/zcashparams:/root/.zcash-params
  #       - ./volumes/nodefiles-mcl-1:/root/.komodo/MCL
  #     entrypoint: bash -c "/root/build_run_mcl"
      #restart: always
  ssh-client1:
    container_name: sshclient1
    build:
      context: ./dockerfile
      dockerfile: sshclient.Dockerfile
      args:
        - PW=12345 # change as before build. 
    volumes:
      - ./daemonfiles/ssh-mcl-1/:/root/marmara/src
      - ./volumes/zcashparams:/root/.zcash-params
      - ./volumes/sshnode-mcl-1:/root/.komodo/MCL
      - ./dockerfile/crontab-config:/etc/cron.d/crontab
    ports:
      - "47155:22"  # change as you like
    environment:
      - mcl_releaseurl=${mcl_releaseurl}
      - pubkey=${pubkey}
    entrypoint: ["/bin/bash", "-c", "printenv > /etc/environment && /usr/sbin/sshd -D & cron -f"]
    restart: unless-stopped

  # mcl-node2:
  #   container_name: mcl_node2
  #   build:
  #     context: ./dockerfile
  #     dockerfile: mcl-release.Dockerfile
  #     args:
  #     - CHAINLINK=${mcl_releaseurl}
  #   # networks:
  #   #   back-end:
  #   #       ipv4_address: 10.1.0.100
  #   volumes:
  #     - ./volumes/zcashparams:/root/.zcash-params
  #     - ./volumes/nodefiles-mcl-2:/root/.komodo/MCL
  #   entrypoint: bash -c "/root/run_mcl"
  #   #restart: always
  
# networks:
#   back-end:
#     driver: bridge
#     ipam: 
#       driver: default
#       config:
#         - subnet: 10.1.0.0/24
          #gateway: 10.1.0.1